{% extends 'base.html' %}

<!-- if statement goes here about whether they're logged in or not-->

{% block content %}
    <div class="container-lg" id="bg-contain">
        <div id="contain">
            <h2>About</h2>
            <h3>Vision</h3>
            <p>Study Buddies is a project to connect people with complementary strengths and weaknesses to facilitate
                productive studying. Study Buddies primarily targets the college student demographic due to the
                importance of studying in college. Study Buddies can also be readily adapted to a business or
                custom educational application allowing for more granular course selection in a custom educational role,
                or more organizational interconnectivity in a business role. This project was born from our desire </p>
            <h3>Mission</h3>
            <p></p>
            <h3>Who are we?</h3>
            <p>
                <h4>Amanda Tong</h4>
                    I primarily handled the frontend and design language for the site.
                <p>
                    <!-- put your email here -->
                </p>
            </p>
            <p>
                <h4>Jesse Hall</h4>
                <p>
                    I primarily handled the backend and initial architecture for the site.
                </p>
                <p>
                    jessehallengineering@protonmail.ch
                </p>

            </p>
        </div>
    </div>
{% endblock %}