{% extends 'base.html' %}
{% block styling %}
<link rel="stylesheet" type="text/css" href="static/css/profile.css?q={{ time }}" />
<link rel="stylesheet" type="text/css" href="static/css/posts.css?q={{ time }}" />
{% endblock %}
{% block nav %}
                <a class="nav-item nav-link" href="{{ url_for('user.search') }}">Search</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <!-- {{user}} -->
                        My Account
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ url_for('user.profile') }}">Profile</a>
                    <a class="dropdown-item" href="{{ url_for('user.following') }}">Following</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('user.logout') }}">Log out</a>
                    </div>
                </li>
{% endblock %}

{%  block content %}
         <div class="container-lg" id="bg-contain" style="flex-direction:row;">
             <div id="left-col">
                 hello
            </div>
            <div id="right-col">
                <div class="make-post-contain">
                 <div class="make-post">
                    <form method="POST" action="{{url_for('landing.tester')}}">
                        {{ form.csrf_token }}
                        {{ form.post }}
                        <button type="submit">Post</button>
                    </form>
                </div>
            </div>
            <div class="profile-contain" style="margin-top:0px;width:600px;">
            <h2 align="center">Recent Posts</h2>
            <div class="posts-contain" style="width:100%;margin-left:0px;">
            {% if post %}
                 {% for i in post %}
                
                    <div class="post">
                        <div class="post-head">
                            <img src="{{ i['pfp'] }}" class="pfp"/>
                            <div class="spacer">
                                <div>
                                    <span class="name">{{ i['name']}}</span><br/>
                                    @{{ i['username']}}
                                </div>
                                <div class="timestamp">
                                    {{ i['post'][1][11:16] }} - {{ i['post'][1][5:7] }}/{{ i['post'][1][8:10] }}/{{ i['post'][1][2:4] }}
                                </div>
                            </div>
                        </div>
                        <div style="padding-top:20px;font-size:20px;">
                            {{ i['post'][0] }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            

        </div><!-- end profile contain-->
            </div>
            </div>
        </div>
{% endblock %}