{% extends 'base.html' %}
{% block nav %}
  <nav class="navbar navbar-expand-lg navbar-light stickyHeader" id="navigation">
        <a class="navbar-brand" href="/">
            <img src="/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    Study Buddies
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="justify-content:flex-end">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">
                    Home <span class="sr-only">(current)</span>
                </a>
                <a class="nav-item nav-link" href="#">Subjects</a>
                <a class="nav-item nav-link" href="#">About</a>
                <a class="btn" href="{{ url_for('user.signup') }}">Sign Up</a>
                <a class="btn" href="{{ url_for('user.login') }}">Log in</a>
            </div>
        </div>
        </nav>
{% endblock %}

{%  block content %}
    <div class="container-lg" style="display:flex;justify-content:center;position:relative;">
        <div id="welcome">
            <b>Welcome!</b><br/>
            <span class="subtitle">Expand your education by getting connected to other students around the world.</span>
            <br/><br/>
            <a href="/signup"><button type="button" class="btn get-started btn-lg">Get started</button></a>
        </div>
    </div>
{% endblock %}