{% extends 'base.html' %}
{% block nav %}
                <a class="nav-item nav-link" href="/subjects">Subjects</a>
                <a class="nav-item nav-link" href="/about">About</a>
                <a class="btn" href="{{ url_for('user.signup') }}">Sign Up</a>
                <a class="btn" href="{{ url_for('user.login') }}">Log in</a>
{% endblock %}

{%  block content %}
    
    <div class="container-lg" id="bg-contain" style="z-index:9999">
        {%  block inner_content %}
        <div id="welcome">
            <b>Welcome!</b><br/>
            <span class="subtitle">Expand your education by getting connected to other students around the world.</span>
            <br/><br/>
            <a href="/signup"><button type="button" class="btn get-started btn-lg">Get started</button></a>
        </div>
        {% endblock %}
    </div>
{% endblock %}