{% extends 'loggedin.html' %}

{% block styling %}
<link rel="stylesheet" type="text/css" href="static/css/profile.css?q={{ time }}" />
{% endblock %}

{% block title %}{{ info['name'] }} • {% endblock %}

{% block content %}
    <div class="container-lg" id="bg-contain">
        <div class="profile-contain">
            <div class="profile-header">
            <a href="{{ url_for('user.changepfp') }}">
                <img src="{{ info['pfp'] }}" class="pfp"/>
            </a>
                <div class="info-box">
                    <h5>&nbsp;<i class="fas fa-school"></i>&nbsp;
                    {% if info['type'] == 'C'%}
                        College Student
                    {% else %}
                        High School Student
                    {% endif %}
                    </h5>
                    <h1>{{ info['name'] }}</h1>
                     <h3>(@{{ info['username'] }})</h3>
                     <form method="POST" action="{{url_for('user.other', page = info['username'] )}}">
                        <button type="submit" class="btn btn-outline-primary"><i class="fas fa-user-plus"></i> &nbsp;Follow</button>
                    </form>
                    <button type="button" class="btn btn-outline-primary"><i class="fas fa-comment-alt"></i> &nbsp;Message</button>
                </div>
            </div>
            <!--{{ info['contact'] }}-->
            <br>
            <!--- can make these tabs but idk yet -->
            <div id="skills">
                <div id="strengths">
                    <h2>strengths</h2>
                    <ul>
                    {% for i in info['strengths'] %}
                        <li>{{ i }}</li>
                    {% endfor %}
                    </ul>
                </div>
                <div id="weaknesses">
                    <h2>weaknesses</h2>
                    <ul>
                    {% for i in info['weaknesses'] %}
                        <li>{{ i }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}