{% extends 'loggedin.html' %}

{% block styling %}
<link rel="stylesheet" type="text/css" href="static/css/profile.css?q={{ time }}" />
{% endblock %}

{% block content %}
    <div class="container-lg" id="bg-contain">
        <div class="profile-contain">
            <div class="profile-header">
                <img src="{{ info['pfp'] }}" class="pfp"/>
                <div class="info-box">
                    <h1>{{ info['name'] }}</h1>
                    <h3>@{{ info['username'] }}</h3>
                </div>
            </div>
            <br>
            {{ info['type'] }}
            <br>
            {{ info['contact'] }}
            <br>
            strengths
            <ul>
            {% for i in info['strengths'] %}
                <li>{{ i }}</li>
            {% endfor %}
            </ul>
            <br>
                weaknesses
            <ul>
            {% for i in info['weaknesses'] %}
                <li>{{ i }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}