{% extends 'loggedin.html' %}

{% block styling %}
<link rel="stylesheet" type="text/css" href="static/css/profile.css?q={{ time }}" />
<link rel="stylesheet" type="text/css" href="static/css/forms.css?q={{ time }}" />
{% endblock %}

{% block title %}{{ info['name'] }} • {% endblock %}

{% block content %}
    <div class="container-lg" id="bg-contain">
        <div class="profile-contain">
            <div class="profile-header">
            <a href="{{ url_for('user.changepfp') }}">
                <img src="{{ info['pfp'] }}" class="pfp"/>
            </a>
                <div class="info-box">
                    <h5>&nbsp;<i class="fas fa-school"></i>&nbsp;
                    {% if info['type'] == 'C'%}
                        College Student
                    {% else %}
                        High School Student
                    {% endif %}
                    </h5>
                    <h1>{{ info['name'] }}</h1>
                     <h3>(@{{ info['username'] }})</h3>
                     <div style="display:flex;">
                         {% if ownpro %}
                         <a href="{{ url_for('user.following') }}"><button type="button" class="btn btn-outline-primary"><i class="fas fa-users"></i> &nbsp;Follow List</button></a>
                        {% else %}
                        <form method="POST" action="{{url_for('user.other', page = info['username'] )}}">
                            <button type="submit" class="btn btn-outline-primary {% if isfol %}following-btn{%endif%}" name="follow" value="True"><i class="fas fa-user-plus"></i> &nbsp;
                            {% if isfol %}Following{%else%}Follow{%endif %}</button>
                        </form>
                        {% endif %}
                         
                    <button type="button" class="btn btn-outline-primary"><i class="fas fa-comment-alt"></i> &nbsp;Message</button>
                    </div>
                </div>
            </div>
            <!--{{ info['contact'] }}-->
            <br>
            <!--- can make these tabs but idk yet -->
            

            <div style="display:flex;justify-content:space-between;">
                <div>
                    <nav class="skilltabs">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Strengths</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Weaknesses</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent" style="width:229px;border-top-right-radius:0px;border-top-left-radius:0px;">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <ul class="strengths">
                    {% for skill in info['art']['strengths'] %}
                        <li>{{ skill }}</li>
                    {% endfor %}
                    {% for skill in info['business']['strengths'] %}
                        <li>{{ skill }}</li>
                    {% endfor %}
                    {% for skill in info['engineering']['strengths'] %}
                        <li>{{ skill }}</li>
                    {% endfor %}
                    {% for skill in info['humanities']['strengths'] %}
                        <li>{{ skill }}</li>
                    {% endfor %}
                    {% for skill in info['math']['strengths'] %}
                        <li>{{ skill }}</li>
                    {% endfor %}
                    {% for skill in info['science']['strengths'] %}
                        <li>{{ skill }}</li>
                    {% endfor %}
                    </ul>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <ul class="weaknesses">
                    {% for skill in info['art']['weaknesses'] %}
                        <li>{{ skill }}</li>
                    {% endfor %}
                    {% for skill in info['business']['weaknesses'] %}
                        <li>{{ skill }}</li>
                    {% endfor %}
                    {% for skill in info['engineering']['weaknesses'] %}
                        <li>{{ skill }}</li>
                    {% endfor %}
                    {% for skill in info['humanities']['weaknesses'] %}
                        <li>{{ skill }}</li>
                    {% endfor %}
                    {% for skill in info['math']['weaknesses'] %}
                        <li>{{ skill }}</li>
                    {% endfor %}
                    {% for skill in info['science']['weaknesses'] %}
                        <li>{{ skill }}</li>
                    {% endfor %}
                    </ul>
            </div>
            </div>
                </div>

               <div class="posts-contain">
                {% if ownpro %}
                <div class="make-post">
                    <form method="POST" action="{{url_for('user.profile')}}">
                        {{ form.csrf_token }}
                        {{ form.post }}
                        <button type="submit">Post</button>
                    </form>
                </div>
                {% endif %}
                {% if posts %}
                {% for post in posts %}
                    <div class="post">
                        <div class="post-head">
                            <img src="{{ info['pfp'] }}" class="pfp"/>
                            <div style="padding:0px;">
                                <span class="name">{{ info['name']}}</span><br/>
                                @{{ info['username']}}
                            </div>
                        </div>
                        <div style="padding-top:20px;font-size:20px;">
                            {{ post }}
                        </div>
                    </div>
                {% endfor %}
                {% endif %}
                </div> 
            </div>

            <!-- <div id="skills">
                <div id="strengths">
                    <h2>strengths</h2>
                    <ul>
                    {% for skill in info['art']['strengths'] %}
                        <li>{{ skill }}</li>
                    {% endfor %}
                    {% for skill in info['business']['strengths'] %}
                        <li>{{ skill }}</li>
                    {% endfor %}
                    {% for skill in info['engineering']['strengths'] %}
                        <li>{{ skill }}</li>
                    {% endfor %}
                    {% for skill in info['humanities']['strengths'] %}
                        <li>{{ skill }}</li>
                    {% endfor %}
                    {% for skill in info['math']['strengths'] %}
                        <li>{{ skill }}</li>
                    {% endfor %}
                    {% for skill in info['science']['strengths'] %}
                        <li>{{ skill }}</li>
                    {% endfor %}
                    </ul>
                </div> -->
                <!-- <div id="weaknesses">
                    <h2>weaknesses</h2>
                    <ul>
                    {% for skill in info['art']['weaknesses'] %}
                        <li>{{ skill }}</li>
                    {% endfor %}
                    {% for skill in info['business']['weaknesses'] %}
                        <li>{{ skill }}</li>
                    {% endfor %}
                    {% for skill in info['engineering']['weaknesses'] %}
                        <li>{{ skill }}</li>
                    {% endfor %}
                    {% for skill in info['humanities']['weaknesses'] %}
                        <li>{{ skill }}</li>
                    {% endfor %}
                    {% for skill in info['math']['weaknesses'] %}
                        <li>{{ skill }}</li>
                    {% endfor %}
                    {% for skill in info['science']['weaknesses'] %}
                        <li>{{ skill }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div> -->
            

        </div><!-- end profile contain-->
    </div>
{% endblock %}