{% extends 'loggedin.html' %}

{% block styling %}
<link rel="stylesheet" type="text/css" href="static/css/search.css?q={{ time }}" />
<link rel="stylesheet" type="text/css" href="static/css/forms.css?q={{ time }}" />
{% endblock %}

{% block title %}Search • {% endblock %}

{% block content %}
    <div class="container-lg" id="bg-contain">
        <div class="search-contain" style="padding-top:30px;">
            <h2>Search</h2>
            <form method="POST" action="{{ url_for('user.search' )}}">
                {{ form.csrf_token }}
                <div class="filter-hold">
                    {{ form.uname }}
                    
                        <button type="button" data-toggle="collapse" data-target="#filters" aria-expanded="false" aria-controls="collapseExample">
                            Filters
                        </button>
                        <button type="submit"><i class="fas fa-search"></i></button>
                </div>
                
                <div class="collapse" id="filters">
                    <!-- subjects -->
                    <label>Subjects</label>
                    <div id="formtab">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="width:100px;">
                            <a class="nav-link active" id="v-pills-art-tab" data-toggle="pill" href="#v-pills-art" role="tab" aria-controls="v-pills-art" aria-selected="true">Art</a>
                            <a class="nav-link" id="v-pills-business-tab" data-toggle="pill" href="#v-pills-business" role="tab" aria-controls="v-pills-business" aria-selected="false">Business</a>
                            <a class="nav-link" id="v-pills-engineering-tab" data-toggle="pill" href="#v-pills-engineering" role="tab" aria-controls="v-pills-engineering" aria-selected="false">Engineering</a>
                            <a class="nav-link" id="v-pills-humanities-tab" data-toggle="pill" href="#v-pills-humanities" role="tab" aria-controls="v-pills-humanities" aria-selected="false">Humanities</a>
                            <a class="nav-link" id="v-pills-math-tab" data-toggle="pill" href="#v-pills-math" role="tab" aria-controls="v-pills-math" aria-selected="false">Math</a>
                            <a class="nav-link" id="v-pills-science-tab" data-toggle="pill" href="#v-pills-science" role="tab" aria-controls="v-pills-science" aria-selected="false">Science</a>
                        </div>
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-art" role="tabpanel" aria-labelledby="v-pills-art-tab">{{ form.art }}</div>
                            <div class="tab-pane fade" id="v-pills-business" role="tabpanel" aria-labelledby="v-pills-business-tab">{{ form.business }}</div>
                            <div class="tab-pane fade" id="v-pills-engineering" role="tabpanel" aria-labelledby="v-pills-engineering-tab">{{ form.engineering }}</div>
                            <div class="tab-pane fade" id="v-pills-humanities" role="tabpanel" aria-labelledby="v-pills-humanities-tab">{{ form.humanities }}</div>
                            <div class="tab-pane fade" id="v-pills-math" role="tabpanel" aria-labelledby="v-pills-math-tab">{{ form.math }}</div>
                            <div class="tab-pane fade" id="v-pills-science" role="tabpanel" aria-labelledby="v-pills-science-tab">{{ form.science }}</div>
                        </div>
                    </div>
                </div>
    

            </form>

            {% if results %}
                <div class="results-contain">
                    {% for i in results %}
                        <div class="result">
                            <a href="{{url_for('user.other', page = i[0].username)}}">
                                <img src="{{i[0].pfp}}"/>
                            </a>
                            <div class="info-box">
                                <!--type-->
                                <h5>&nbsp;<i class="fas fa-school"></i>&nbsp;
                                    {% if i[0].type == 'C'%}
                                        College Student
                                    {% else %}
                                        High School Student
                                    {% endif %}
                                </h5>
                                <!--Name and username-->
                                <a href="{{url_for('user.other', page = i[0].username)}}">
                                    <h1>{{ i[0].name }} (@{{ i[0].username }})</h1>
                                </a>
                                <div class="skills">
                                    <div><i class="fas fa-check-circle"></i>
                                    {% for skill in i[0]['art']['strengths'] %}
                                        <span>{{ skill }}</span>
                                    {% endfor %}
                                    {% for skill in i[0]['business']['strengths'] %}
                                        <span>{{ skill }}</span>
                                    {% endfor %}
                                    {% for skill in i[0]['engineering']['strengths'] %}
                                        <span>{{ skill }}</span>
                                    {% endfor %}
                                    {% for skill in i[0]['humanities']['strengths'] %}
                                        <span>{{ skill }}</span>
                                    {% endfor %}
                                    {% for skill in i[0]['math']['strengths'] %}
                                        <span>{{ skill }}</span>
                                    {% endfor %}
                                    {% for skill in i[0]['science']['strengths'] %}
                                        <span>{{ skill }}</span>
                                    {% endfor %}
                                    </div>
                                    <br/>
                                    <div><i class="fas fa-times-circle"></i>
                                    {% for skill in i[0]['art']['weaknesses'] %}
                                        <span>{{ skill }}</span>
                                    {% endfor %}
                                    {% for skill in i[0]['business']['weaknesses'] %}
                                        <span>{{ skill }}</span>
                                    {% endfor %}
                                    {% for skill in i[0]['engineering']['weaknesses'] %}
                                        <span>{{ skill }}</span>
                                    {% endfor %}
                                    {% for skill in i[0]['humanities']['weaknesses'] %}
                                        <span>{{ skill }}</span>
                                    {% endfor %}
                                    {% for skill in i[0]['math']['weaknesses'] %}
                                        <span>{{ skill }}</span>
                                    {% endfor %}
                                    {% for skill in i[0]['science']['weaknesses'] %}
                                        <span>{{ skill }}</span>
                                    {% endfor %}
                                    </div>
                                </div>
                                <!--{{ i[1] }} {# this is the overlap score #}-->
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

        </div>
    </div>
    
    

{% endblock %}

{# {url_for('user.' {{i[0].username}})} #}
