{% extends 'loggedin.html' %}

{% block styling %}
    <link rel="stylesheet" type="text/css" href="static/css/forms.css?q={{ time }}" />
{% endblock %}

{% block content %}
<div id="bg-contain">
<div id="formbox">

<form method="POST" action="{{url_for('user.setup')}}">
  {{ form.csrf_token }}
    {{ form.userinfo }}
    {{ form.math }} <!-- these are teh subjects to put in the tabs -->
    {{ form.business }}
    {{ form.science }}
    {{ form.engineering }}
    {{ form.humanities }}
    {{ form.art }}
{#   {% for i in form %}#}
{##}
{#    {{ i }}#}
{#    <br>#}
{##}
{#{% endfor %}#}
</p>


  <button type="submit">Finish setup!</button>
</form>
</div> <!-- end formbox -->
</div> <!-- end bg contain-->
{% endblock %}