#formbox{
    padding:50px;
    align-self:center;
    margin-top:100px;
    margin-bottom:50px;
    width:55%;
    font-size:20px;
    color:#C55C79;
    background-color:rgba(244, 218, 205, 0.7);
    border-radius:10px;
    text-align:center;
    line-height:1;
}

.smalltext a {
    color:#F38676;
}

label {
    width:auto;
    text-align:left;
    font-size:15px;
    text-transform:uppercase;
    display:block;
    margin-top:10px;
    font-weight:700;
}

input, select{
    background-color:#f4dacd;
    color:#504965;
    border-radius:10px;
    border:none;
    padding:10px;
}

.setupform form {
    text-align:left;
}

form td {
    margin-bottom:15px;
}

form tr, form td {
    display:block;
}

select option:checked, select option:active{
  background: #F38676 -webkit-linear-gradient(bottom, #F38676 0%, #F38676 100%);
  color:white;
}

input:focus, select:focus {
    outline:none;
}

::placeholder {
    color:#C55C79;
}

button {
    background-color:#C55C79;
    color:#F4DACD;
    padding:10px;
    font-size:20px;
    border:none;
    border-radius:5px;
}

button:hover, button:focus {
  background-color:#ac405e;
}

h2 {
    text-align:center;
    font-weight:600;
    line-height:2;
}

.submit {
    margin-top:10px;
}

.smalltext {
    font-size:16px;
    line-height:1;
    font-weight:600;
}

/* FORM TABS */
#formtab {
    display:flex;
    justify-content:space-between;
    margin-top:10px;
}

.tab-content {
    background-color:rgba(244, 218, 205, 0.5);
    width:75%;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
    border-radius:10px;
}

.tab-content tr {
    order:2;
    display:inline-block;
    margin-left:10px;margin-right:10px;
}

#userinfo tr {
    display:inline-block;
    width:47%;
}

#userinfo tr input, #userinfo tr select {
    width:100%;
}

#userinfo tbody {
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

#formtab a.nav-link:active, #formtab a.nav-link:focus, #formtab a.nav-link:hover, #formtab a.active{
    background-color:#C55C79;
    color:#F4DACD;
}

#formtab a{
    color:#C55C79;
}

#formtab .nav .nav-link {
    margin-bottom:10px;
}
#formtab .nav .nav-link:last-child {
    margin-bottom:0px;
}

/* POSTS */
textarea {
  outline: none;
  resize:none;
  width:100%;
  height:75px;
  border-radius:10px;
  background-color:rgba(243, 134, 118, 0.5);
  margin-bottom:10px;
  display:block;
  border:none;padding:10px;
}

.posts-contain {
    margin-left:20px;
    width:480px;
}

.make-post {
    background-color:#F4DACD;
    padding:20px;
    border-radius:10px;
}

.make-post form {
    text-align:right;
}

.post {
    border-radius:10px;
    padding:20px;
    background-color:#F4DACD;
    margin-top:20px;
}

.post-head {
    display:flex;
}

.post-head img {
    width:50px;height:50px;
    margin-right:10px;
}

.post-head .name {
    font-weight:600;
    font-size:20px;
    line-height:1.5;
}