#left-col {
    background-color:rgba(244, 218, 205, 0.7);
    width:250px;
    align-self:flex-start;
    display:flex;
    justify-content:center;
    flex-direction:column;
    margin-top:100px;
    border-radius:10px;
    overflow:none;
    margin-right:20px;
    padding-top:20px;
    padding-bottom:20px;
    text-align:center;
}
#left-col div {
    z-index:999999;
}

a:hover {
    text-decoration:none;
}

.feed-pfp {
    object-fit: cover;
    margin-top:20px;
    margin-bottom:10px;
    width: 100px;
    height: 100px;
    border-radius:10px;
}

#feed-name {
    font-weight:700;
    font-size:20px;
}

#feed-username {
    padding-bottom:10px;
}

#right-col {

}

.make-post-contain {
    width:600px;
    margin-top:100px;
    margin-bottom:20px;
    align-self:center;
    border-radius:10px;
    line-height:1;
}


/* POSTS */
textarea {
  outline: none;
  resize:none;
  width:100%;
  height:75px;
  border-radius:10px;
  background-color:rgba(243, 134, 118, 0.5);
  margin-bottom:10px;
  display:block;
  border:none;padding:10px;
}

.posts-contain {
    margin-left:20px;
    width:480px;
}

.make-post {
    background-color:rgba(244, 218, 205, 0.7);
    padding:20px;
    border-radius:10px;
}

.make-post form {
    text-align:right;
}

.post {
    border-radius:10px;
    padding:20px;
    background-color:#F4DACD;
    margin-top:20px;
}

.post-head {
    display:flex;
}

.post-head img {
    width:50px;height:50px;
    margin-right:10px;
}

.post-head .name {
    font-weight:600;
    font-size:20px;
    line-height:1.5;
}

.timestamp {
    color:#F38676;
}

.spacer {
    display:flex;justify-content:space-between;width:100%;
}

button {
    background-color:#C55C79;
    color:#F4DACD;
    padding:10px;
    font-size:20px;
    border:none;
    border-radius:5px;
}

button:hover, button:focus {
  background-color:#ac405e;
}