#bg-contain {
    display:flex;
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
    width:100%;
    height:100%;
    z-index:999999;
}

.pfp {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius:10px;
}

.profile-contain {
    background-color:rgba(244, 218, 205, 0.7);
    padding:50px;
    width:700px;
    margin-top:100px;
    margin-bottom:50px;
    align-self:center;
    border-radius:10px;
    line-height:1;
}

.profile-header {
    width:600px;
    padding:20px;
    height:190px;
    background-color:#F4DACD;
    display:flex;
}

.info-box {
    width:480px;
    margin-left:10px;
    padding-left:20px;
}

h1 {
    font-weight:700;
    line-height:1;
}

h3 {
    line-height:1;
    font-size:20px;
}

h5 {
    line-height:1.5;
    font-size:15px;
    text-transform:uppercase;
}

.info-box button {
    border-color:#C55C79;
    color:#C55C79;
    font-weight:700;
    margin-right:10px;
    margin-top:5px;
    display:inline-block;
}

.info-box button:hover, .info-box button:focus, .info-box button:active {
    background-color:#C55C79;
    border-color:#C55C79;
    color:#F4DACD;
}

/* SKILLS */

#skills {
    display:flex;
    justify-content:space-between;
}

#skills h2 {
    text-transform:uppercase;
    color:#C55C79;
    font-weight:700;
    font-size:20px;
    text-align:center;
    margin-bottom:20px;
}

#skills ul {
    list-style-type: none;
    padding-left: 0;
}

#strengths, #weaknesses {
    width:48.5%;
    line-height:1.5;
    font-size:17px;
    background-color:#F4DACD;
    padding:30px;
}

#strengths ul li::before {
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    padding: 0 10px 0 0;
}

#weaknesses ul li::before {
    content: "\f057";
    font-family: "Font Awesome 5 Free";
    padding: 0 10px 0 0;
}