html, body {
  font-family: 'Nunito', sans-serif;
  padding:0; margin:0; height:100%;
    background-image:url('https://i.imgur.com/AQfn8nR.jpg');
    background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

*, *:hover{
    
     -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

/* NAVIGATION */

.stickyHeader {
position: fixed;
width: 100%;
}

#navigation {
  background-color:#504965;
  position:absolute;
  z-index:99999999;
}

#navigation a.nav-link, #navigation a.navbar-brand, .our-footer a {
  color:#F4DACD;
}

a.dropdown-item {
    color:#C55C79;
    padding-top:8px;
    padding-bottom:8px;
}

a.dropdown-item:hover {
    background-color:#F38676;
    color:#F4DACD;
}

a.dropdown-item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

a.dropdown-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown-menu {
    background-color:#F4DACD;
    border-radius:5px;
    padding:0px;
    overflow:none;
}

.dropdown-divider {
    border-color:rgba(243, 135, 118, 0.5);
    margin:0;
}

#navigation a.nav-item:hover, .our-footer a:hover {
  color:#F38676;
  text-decoration:none;
}

.navbar-nav .btn {
  background-color:#C55C79;
  color:#F4DACD;
  margin-left:10px;
  border:none;
  width:90px;
}

/* CONTAINERS */
#bg-contain {
    display:flex;
    justify-content:center;
    align-items: center;
    align-content:center;
    width:100%;
    z-index:999999;
}

#contain {
    background-color:rgba(244, 218, 205, 0.7);
    padding:50px;
    width:700px;
    margin-top:100px;
    margin-bottom:50px;
    align-self:center;
    border-radius:10px;
    line-height:1;
}

/* WELCOME */

.get-started {
    background-color:#C55C79;
    color:#F4DACD;
}

.navbar-nav .btn:hover, .navbar-nav .btn:focus, .get-started:hover, .get-started:focus {
  color:#F4DACD;
  background-color:#ac405e;
}

#welcome {
    padding:50px;
    margin-top:100px;
    width:75%;
    font-size:50px;
    color:#F4DACD;
    text-align:center;
    line-height:1;
}

.subtitle {
    color:#F4DACD;
    font-size:25px;
}

/* FOOTER STUFF */

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 8rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8rem;            /* Footer height */
}

.our-footer{
    background-color:#504965;
    color:#F4DACD;
    bottom: 0;
    width: 100%;
    position:absolute;
    z-index:999999
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background:none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #C55C79;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ac405e;
}