html, body {
  font-family: 'Nunito', sans-serif;
  height:100vh;
}

.stickyHeader {
position: fixed;
width: 100%;
}

#navigation {
  background-color:#504965;
  position:absolute;
  z-index:99999999;
}

#navigation a, .our-footer a {
  color:#F4DACD;
}

#navigation a.nav-item:hover, .our-footer a:hover {
  color:#F38676;
  text-decoration:none;
}

.navbar-nav .btn {
  background-color:#C55C79;
  margin-left:10px;
  border:none;
  width:90px;
}

#background{
    width:100%;
    height:100%;
    background-image:url('https://i.imgur.com/AQfn8nR.jpg');
    background-size:cover;
    z-index:-9999999999;
}

#bg-contain {
    display:flex;
    justify-content:center;
    position:relative;
    width:100%;
    height:600px;
    z-index:999999;
}

.get-started {
    background-color:#C55C79;
    color:#F4DACD;
}

.navbar-nav .btn:hover, .navbar-nav .btn:focus, .get-started:hover, .get-started:focus {
  color:#F4DACD;
  background-color:#ac405e;
}

#welcome {
    padding:50px;
    width:75%;
    align-self:center;
    font-size:50px;
    color:#F4DACD;
    text-align:center;
    line-height:1;
}

.subtitle {
    color:#F4DACD;
    font-size:25px;
}

.our-footer{
    background-color:#504965;
    color:#F4DACD;
    bottom: 0;
    width: 100%;
    z-index:999999
}